div{
    color: blueviolet;
}

h1{
  color: #5e0458;
  text-align: center;
  font-size: 2.5em
}

.highlight{
color: darkmagenta;
}


#special{
    
    font-weight: bold;
    background-color: #ff04d5;
    color: darkblue;
}


body{
    font-family: Arial, sans-serif;
    background-attachment: fixed;
    background-color: cornflowerblue
}

.box {

    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 20px;
    margin: 10px;
    background-color: darkgray;
    border: 2px solid #000000;
    box-shadow: 5px 5px 10px rgba(0, 0, 0.5);

}

.content{
    display: flex; 
    justify-items: center;
    width: 300px;
    padding: 20px;
    margin: 10px;
    border: 5px #ff04d5;
}

.inline-box {
    position: fixed;
    justify-items: center;
    width: 300px;
    padding: 20px;
    margin: 10px;
    top: 10px;
    right: 10px;
    background-color: yellowgreen;
    padding: 10px;
}

.fixed-box{
    display: flex; 
    justify-items: center;
    width: 300px;
    padding: 20px;
    margin: 10px;

    position: fixed;
    top: 10px;
    right: 10px;
    background-color: blanchedalmond;
}

.rotate-box { 
    justify-items: center;
    width: 300px;
    padding: 20px;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: beige;
    transition: transform 0.5s ease;
}

.rotate-box:hover {
  transform: rotate(45deg);
}


a:hover{
    color: #000;
    text-decoration: underline;
}

.box::before{
    content: "New! ";
    color: rgb(255, 238, 0);
    font-weight: bold;
}

.fade-in{
    animation:fade 7s infinite ease-in-out
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

table, th, td{
    border: 1px solid black;
}
